/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Variables */
:root {
    --primary:rgb(34,41,70);
    --secondary:rgb(55,182,103);
    --tertiary:rgb(233,236,252);
    --qurternary:rgb(188,192,210);
}
/* Custom Styling */
*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
/* General */
html {
    font-size: 10px;
}
body {
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 32px 0;
}
.btn {
    padding: 12px 20px;
    border-radius: 4px;
    background-color: var(--secondary);
    display: inline-block;
    color: #ffffff;
    margin-top: 1rem;
    font-size: 2rem;

}
.flex-desk {
    display: flex;
    justify-content: center;
}
.flex-hori {
    display: flex;
    justify-content: center;
}
.align-center {
    text-align: center;
}
.padding {
    padding: 1rem;
}
.full-width {
    width: 100%;
}
/* Header */
.header {
    background-color: var(--primary);
    text-align: center;
}
.nav-bar {
    margin-top: 2rem;
}
.nav-bar a {
    font-size: 2rem;
    font-weight: 600;
    margin-left: 3rem;
    text-transform: uppercase;
    color: #ffffff;
}
.nav-bar .active {
    color: var(--secondary);
}
/* Hero */
.hero {
    background-color: var(--tertiary);
}
.hero-article, .hero-image {
    width: 100%;
    padding: 0 3rem;
    margin: 2rem 0;
}
.hero-article h2 ,.blog h2 , .blog-article h3{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.hero-article p ,.blog-article p{
    font-size: 2rem;
    line-height: 1.2;
}
/* blog  */
.blog h2 {
    text-align: center;
    padding: 3rem 0;
}
.blog-article {
    margin-bottom: 3rem;
}
/* Footer */
.footer {
    padding-top: 0;
    text-align: center;
    background-color: var(--primary);
    padding: 2rem;
    font-size: 2rem;
    color: #fff;
    font-size: 2rem;
}
.footer nav ul li { 
    margin-top: 2rem;
}
.footer a {
    color: #fff;
    font-size: 3rem;
    margin-left: 3rem;
}


/* Desktop Version */

@media screen and (min-width:768px) {
    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .justyfy-content-center {
        justify-content: space-evenly;
    }
    .flex-48 {
        flex: 0 1 48%;
    }
    .flex-30 {
        flex: 1 1 30%;
    }
    .blog-article {
        margin: 2rem;
    }
    .hero-image , .hero-article {
        width: 40%;
    }
    .footer {

    }
}